{extends file="email-layout.tpl"}

{* Do not provide a "Open in browser" link  *}
{block name="browser"}{/block}
{* No pre-header *}
{block name="pre-header"}{/block}

{* Subject  *}
{block name="email-subject"}{$form_title}{/block}

{* Title  *}
{block name="email-title"}{/block}

{* Content  *}
{block name="email-content"}
    <p>{intl l="Hello," d='customcontact.email.default'}</p>

    <p>{intl l="A new form has been submited from %store : %form_title" store=$store_name form_title=$form_title d='customcontact.email.default'}</p>

    <p>{intl l="Here the data entered for each field :" d='customcontact.email.default'}</p>

    <table border="1" cellpadding="10" style="border:1px solid #ccc">
    {foreach from=$fields key=label item=value}
        <tr>
            <td style="padding: 10px">{intl l=$label d='customcontact.email.default'}</td>
            <td style="padding: 10px">{$value}</td>
        </tr>
    {/foreach}
    </table>

    <p>{intl l="Have a nice day !" d='customcontact.email.default'}</p>
{/block}
