{if isset($smarty.get.tab)}
    {$tab=$smarty.get.tab}
{else}
    {$tab='list'}
{/if}
<style>
    input[type=number] {
        min-width: 100px;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="general-block-decorator">
            <div class="row">
                <div class="col-md-12">
                    <div class="tab-content">
                        <div class="form-container">
                            <br>

                            <div class="title">
                                {intl l="List Custom Contact Form" d='customcontact.bo.default'}
                            </div>

                            <table class="table table-condensed table-striped">
                                <caption>
                                    <a title="Ajouter un nouveau dossier" href="{url path="/admin/custom_contact"}" class="btn btn-success btn-responsive action-btn"><i class="glyphicon glyphicon-plus-sign"></i></a>
                                </caption>
                                <thead>
                                <tr>
                                    <th>{intl l='Id' d='customcontact.bo.default'}</th>
                                    <th>{intl l='Title' d='customcontact.bo.default'}</th>
                                    <th>{intl l='Code' d='customcontact.bo.default'}</th>
                                    <th>{intl l='Receiver Email' d='customcontact.bo.default'}</th>
                                    <th>{intl l='Actions' d='customcontact.bo.default'}</th>
                                </tr>
                                </thead>

                                <tbody>

                                {loop type="custom_contact_loop" name="custom_contact" lang_id=$edit_language_id order=""}
                                    <tr>
                                                <td>
                                                    {$ID}
                                                </td>
                                                <td>
                                                    {$TITLE}
                                                </td>

                                                <td>
                                                   {$CODE}
                                                </td>

                                                <td>
                                                    {$EMAIL}
                                                </td>

                                                <td>
                                                    <a href="{url path="/admin/custom_contact/$ID"}"
                                                       class="btn btn-info"
                                                       title="{intl l='Update this custom contact form' d='customcontact.bo.default'}">
                                                        <i class="glyphicon glyphicon-pencil"></i>
                                                    </a>
                                                    <a href="{url path="/admin/custom_contact/delete/$ID"}"
                                                       class="btn btn-danger"
                                                       onclick="return confirm('{intl l='Delete this form ? This cannot be undone' d='customcontact.bo.default'}');"
                                                       title="{intl l='Delete this custom contact form' d='customcontact.bo.default'}">
                                                        <i class="glyphicon glyphicon-trash"></i>
                                                    </a>
                                                </td>
                                    </tr>
                                {/loop}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
