{if isset($smarty.get.tab)}
  {$tab=$smarty.get.tab}
{else}
  {$tab='list'}
{/if}
<style>
  input[type=number]
  {
    min-width:100px;
  }
</style>

<div class="row">
  <div class="col-md-12">
    <div class="general-block-decorator">
      <div class="row">
        <div class="col-md-12">
          <ul id="tabbed-menu" class="nav nav-tabs">
            <li class="{if $tab eq "list"}active{/if}"><a data-toggle="tab" href="#list">{intl l="List Custom Contact Form" d='customcontact.bo.default'}</a> </li>
            <li class="{if $tab eq "create"}active{/if}"><a data-toggle="tab" href="#create">{intl l="Create Custom Contact Form" d='customcontact.bo.default'}</a> </li>
          </ul>

          <div class="tab-content">
            <div id="list" class="tab-pane {if $tab eq "list"}active{/if} form-container">
              <br>

              <div class="title">
                {intl l="List Custom Contact Form" d='customcontact.bo.default'}
              </div>

              <table class="table table-condensed table-striped">
                <thead>
                <tr>
                  <th>{intl l='Title' d='customcontact.bo.default'}</th>
                  <th>{intl l='Code' d='customcontact.bo.default'}</th>
                  <th>{intl l='Field Configuration' d='customcontact.bo.default'}</th>
                  <th>{intl l='Locale' d='customcontact.bo.default'}</th>
                  <th>{intl l='Receiver Email' d='customcontact.bo.default'}</th>
                  <th>&nbsp;</th>
                </tr>
                </thead>

                <tbody>

                {include
                file = "includes/inner-form-toolbar.html"
                hide_submit_buttons = true
                }

                {loop type="custom_contact_loop" name="custom_contact" lang_id=$edit_language_id}
                  <tr>
                    {form name="customcontact_form_custom_contact_form"}
                    <form method="POST" action="{url path="/admin/module/CustomContact/update/$ID"}" {form_enctype} >

                      {render_form_field field="success_url" value={url path='/admin/module/CustomContact'}}
                      {render_form_field field="error_url" value={url path='/admin/module/CustomContact'}}

                      {form_hidden_fields }

                      <td>
                      {form_field field="title"}
                         <input type="text" name="customcontact_form_custom_contact_form[title]" value="{$TITLE}"/>
                      {/form_field}
                      </td>

                      <td>
                      {form_field field="code"}
                        <input type="text" name="customcontact_form_custom_contact_form[code]" value="{$CODE}"/>
                      {/form_field}
                      </td>

                      <td>
                        {form_field field="field_configuration"}
                          <textarea name="customcontact_form_custom_contact_form[field_configuration]" rows="4" cols="50">{$FIELD_CONFIGURATION}</textarea>
                        {/form_field}
                      </td>

                      <td>
                          {$LOCALE}
                      </td>

                      <td>
                        {form_field field="receiver_email"}
                          <input type="email" name="customcontact_form_custom_contact_form[receiver_email]" value="{$EMAIL}"/>
                        {/form_field}
                      </td>

                      <td>
                        <button type="submit" class="btn btn-info" >
                          <span class="glyphicon glyphicon-edit"></span>
                        </button>

                        <a href="{url path="/admin/module/CustomContact/delete/$ID"}" class="btn btn-danger" title="{intl l='Delete this custom contact form' d='customcontact.bo.default'}">
                          <i class="glyphicon glyphicon-remove"></i>
                        </a>
                      </td>
                    </form>
                    {/form}
                  </tr>
                {/loop}
                </tbody>
              </table>
            </div>

            <div id="create" class="tab-pane {if $tab eq "create"}active{/if} form-container">
              <br>

              <div class="title">
                {intl l="Create Custom Contact Form" d='customcontact.bo.default'}
              </div>

            {form name="customcontact_form_custom_contact_form"}
              <form method="POST" action="{url path="/admin/module/CustomContact/create"}" {form_enctype} >

                {include
                file = "includes/inner-form-toolbar.html"
                hide_submit_buttons = false

                page_url  = {url path="/admin/module/CustomContact"}
                close_url = {url path="/admin/modules"}
                }

                {render_form_field field="success_url" value={url path='/admin/module/CustomContact'}}
                {render_form_field field="error_url" value={url path='/admin/module/CustomContact'}}

                {form_hidden_fields }

                {if $form_error}
                  <div class="row">
                    <div class="col-md-12">
                      <div class="alert alert-danger">{$form_error_message}</div>
                    </div>
                  </div>
                {/if}

                <div class="col-md-6">
                  {render_form_field field='title'}
                  {render_form_field field='code'}
                  {render_form_field field='field_configuration'}
                  {render_form_field field='receiver_email'}
                  <button type="submit" class="btn btn-success" >{intl l="Save Form" d="customcontact.bo.default"}</button>
                </div>
              </form>
            {/form}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>